# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/

# If you use IntelliJ or Android Studio:
.idea/
*.iml

# VS Code
.vscode/

# macOS
.DS_Store

# Android
android/.gradle/
android/captures/
android/local.properties
android/gradlew
android/gradlew.bat
android/gradle/

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/
ios/build/

# Others
*.log
.idea/libraries/Dart_SDK.xml
.idea/libraries/Flutter_Plugins.xml
aerosense.iml
